.playlist {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    /* padding: 100px 40px 20px; */
    /* width: 100%; */
    /* padding-bottom: 20px; */
}

.playlist__body {
    padding: 20px 40px 20px 40px;
}

.playlist__loading {
    height: 80%;
}

.playlist-text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.playlist-text--uppercase {
    text-transform: uppercase;
}

.playlist-text--title {
    font-size: 60px;
    font-weight: 800;
}

.playlist-text--margin-right {
    margin-right: 5px;
}

.playlist-text--bold {
    font-weight: 600;
}

.playlist-text--gray {
    color: #CEDDDA;
}

.playlist__banner {
    display: flex;
}

.playlist__info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-self: flex-end;
}

.playlist__sub-info {
    margin-top: 10px;
}


.playlist__body > hr {
    border: 1px solid #282828 !important; 
    width: 100%;
    margin: 5px auto;
}
