.playlist-tracks-header {
    display: flex;
    color: #B2B2B2;
    width: 100%;
    padding: 20px 20px 0 20px;
}



.playlist-tracks-header-center {
    display: flex;
    width: 100%;
    max-width: 70vw;
    /* margin: auto; */
    /* justify-content: space-evenly; */
}


.number-sign {
    width: 30px;
}

.playlist-tracks-header-title {
    width: 100%;
    max-width: 400px;
}

.playlist-tracks-header-album {
    width: 100%;
    max-width: 280px;
}

.playlist-tracks-header-date-added {
    width: 100%;
    max-width: 220px;
}