.playlist {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 100px 40px 20px;
}

.playlist__loading {
    height: 80%;
}

.playlist-text {
    color: #ffffff;
    font-size: 14px;
}

.playlist-text--uppercase {
    text-transform: uppercase;
}

.playlist-text--title {
    font-size: 60px;
    font-weight: 800;
}

.playlist-text--margin-right {
    margin-right: 5px;
}

.playlist-text--bold {
    font-weight: 600;
}

.playlist-text--gray {
    color: #B2B2B2;
}

.playlist__banner {
    display: flex;
}

.playlist__info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-self: flex-end;
}

.playlist__sub-info {
    margin-top: 10px;
}

.playlist__image {
    width: 230px;
}

.playlist > hr {
    border: 1px solid #282828;
    width: 100%;
    margin: 5px auto;
}
