.sidebar-option__text {
  color: #B2B2B2;
  font-size: 14px;
  font-weight: 500;
}
.sidebar-option__text--white {
  color: #ffffff;
}

.sidebar-option__text--small {
  font-size: 12px;
}

.sidebar-option__text--bold {
  font-weight: 700;
}

.sidebar-option__text-playlist {
  max-width: 195px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-option {
    display: flex;
    align-items: center;
    color: #B2B2B2;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
}
.sidebar-option__playlist {
    height: 25px; 
    cursor: default;
}
.sidebar-link {
  text-decoration: none;
}

.sidebar-option:hover {
    color: #ffffff;
}

.sidebar-option__icon {
    margin-right: 15px;
}
.sidebar-option__icon-playlist {
    color: black;
    background-color: #B2B2B2;
    padding: 2px;
}

.sidebar-option__icon-install {
    margin-right: 2px !important;
}

